{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/svg/favicon.svg' %}">
   <title>{% block title %}Default Title{% endblock %}</title>
      <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, proxy-revalidate">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="0">


 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    {% block extra_styles %}
    <!-- Additional styles can be added here -->
    {% endblock %}
</head>
<body>
    {% block content %}
    <!-- Page content goes here -->
    {% endblock %}
    
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block extra_scripts %}
    <!-- Page-specific scripts can be added here -->
    {% endblock %}
</body>
</html>
